@page "/reactive"
@inject ServiceWithState Example
@inject NavigationManager NavigationManager

<h1 @onclick="@(() => Console.WriteLine("Boop"))" @oncontextmenu="@(() => Console.WriteLine("Beep"))">Hello World</h1>

<div>
    <button type="button" @onclick="@(() => Counter += 1)">Increase</button>
    <button type="button" @onclick="@(() => Counter -= 1)">Decrease</button>
    <button type="button" @onclick="@(() => NavigationManager.NavigateTo("/schnitzel"))">Redirect</button>
</div>

<div>
    Counter is @Counter
    Name is @Example.Name
</div>

<div>
    <Subcomponent Name="Foo" @key="@("Foo")" />
    <Subcomponent Name="Bar" @key="@("Bar")" />
</div>
<div>
    <ManuallyPersistedSubcomponent Name="dimdimdam" />
    <ManuallyPersistedSubcomponent Name="damdidam" />
</div>

<script>
    console.log("I am a script");
</script>

<div>
    <button type="button" @onclick="@(() => throw new NotImplementedException())">Crash and burn :)</button>
    <button type="button" @onclick="@(() => Crash = true)">Crash during rendering</button>
</div>

@if (Crash)
{
    <BrokenComponent />
}

@code {

    public bool Crash { get; set; }

    [PersistentState]
    public int Counter { get; set; }

}
