<CascadingValue Value="@this" IsFixed ChildContent="@ChildContent" />

<div class="sw tab-container" role="tablist">
    <header>
        <InputRadioGroup Value="@ActiveTab"
                         ValueChanged="@((string? id) => SwitchTabAsync(id))"
                         ValueExpression="@ActiveTabExpression">
            @foreach (var tab in registeredTabs)
            {
                <label role="tab">
                    <span>@tab.Title</span>
                    <InputRadio Value="@tab.Identifier" data-register="@(!RendererInfo.IsInteractive)" />
                </label>
            }
        </InputRadioGroup>
    </header>

    <div role="tabpanel">
        @foreach (var tab in registeredTabs)
        {
            if (tab.Identifier == ActiveTab)
            {
                <article data-identifier="@tab.Identifier">
                    @tab.Content
                </article>
            }
            else
            {
                <article data-identifier="@tab.Identifier" aria-hidden="true" hidden>
                    @tab.Content
                </article>
            }
        }
    </div>
</div>
