<label @attributes="AdditionalAttributes" class="sw-field @(Required ? "sw-field-required" : "")">
    <span class="sw-field-label">@Label</span>
    <span class="sw-field-input">@ChildContent</span>
    <span class="sw-field-description">@Description</span>
    <span class="sw-field-error">@Error</span>
</label>
