@inherits InputBase<string?>

<div class="sw-input @CssClass">
    @if (Prefix is not null)
    {
        <span>@Prefix</span>
    }

    <input type="text"
           @attributes="@AdditionalAttributes"
           name="@NameAttributeValue"
           @bind="CurrentValueAsString"/>


    @if (Suffix is not null)
    {
        <span>@Suffix</span>
    }

    @if (Action is not null)
    {
        <span>@Action</span>
    }
</div>
