@using Microsoft.AspNetCore.Components.Web
@page "/"
@attribute [ReactiveComponent]

<h1 @onclick="@(() => Console.WriteLine("Boop"))" @oncontextmenu="@(() => Console.WriteLine("Beep"))">Hello World</h1>

<div>
    <button type="button" @onclick="@(() => Counter += 1)">Increase</button>
    <button type="button" @onclick="@(() => Counter -= 1)">Decrease</button>
</div>

<div>
    Counter is @Counter
</div>

<div>
    <!-- i need the key... that's annoying -->
    <Subcomponent Name="Foo" @key="@("foo")"/>
    <Subcomponent Name="Bar" @key="@("bar")"/>
</div>

@code {

    [PersistentState]
    public int Counter { get; set; }

}
