<button type="button"
        class="sw popover-trigger @triggerClass"
        command="show-popover"
        commandfor="@anchorName"
        style="anchor-name: --@anchorName">
    @TriggerContent
</button>

<div class="sw popover @popoverClass"
     style="position-anchor: --@anchorName"
     popover="auto"
     id="@anchorName"
     @ontoggle="@OnTriggered">
    @PopoverContent
</div>
